<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OrderMgt.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="OrderMgt.Properties.Settings.ordersdb" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\CM0721\OrderMgt\DataBase\OrderMgt.accdb" />
    </connectionStrings>
    <applicationSettings>
        <OrderMgt.Properties.Settings>
            <setting name="vatrate" serializeAs="String">
                <value>0.2</value>
            </setting>
        </OrderMgt.Properties.Settings>
    </applicationSettings>
</configuration>